node_modules
devnet
.DS_Store
dist

.DS_Store

node_modules
public
.tmp
.idea
.vscode
client/bower_components
client/index.html
dist
/server/config/local.env.js
npm-debug.log
coverage

dev.sqlite
test.sqlite
src/logs
